.abu1{
color: brown;
background-color: aqua;
font-size: 5;
opacity: 0.1;
text-transform: capitalize;
text-decoration: underline;
text-align: right;
font-weight: 200;
font-family: 'Courier New', Courier, monospace;
font-style: normal;
line-height:10px ;
letter-spacing:10px ;
}

.abu2{
color:red ;
background-color: black;
font-size: 10;
opacity: 0.2;
text-transform: lowercase;
text-decoration: line-through;
text-align: center;
font-weight: 300;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
line-height: 15px;
letter-spacing: 15px;
}

.abu3{
color:yellow ;
background-color: rgb(0, 0, 0);
font-size: 15;
opacity: 0.3;
text-transform: none;
text-decoration: overline;
text-align: left;
font-weight: 400;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
line-height: 20px;
letter-spacing: 20px;
}

.abu4{
color: black;
background-color: blueviolet;
font-size: 20;
opacity: 0.4;
text-transform: uppercase;
text-decoration: line-through;
text-align:right ;
font-weight: 500;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
font-style:normal ;
line-height: 25px;
letter-spacing: 25px;
}

.abu5{
    color: rgb(44, 2, 255);
    background-color: rgb(43, 226, 52);
font-size: 25;
opacity: 0.5;
text-transform: lowercase;
text-decoration: overline;
text-align:center ;
font-weight: 600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
line-height: 30px;
letter-spacing: 30px;
}

.abu6{
color: crimson;
background-color: darkblue;
font-size:30 ;
opacity:0.6 ;
text-transform: capitalize;
text-decoration: line-through;
text-align: ;
font-weight: 700;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
line-height: 35px;
letter-spacing: 35px;
}


.abu7{
color: crimson;
background-color: darkblue;
font-size:35px ;
opacity:0.7 ;
text-transform: none;
text-decoration: none;
text-align:right ;
font-weight: 800;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: unset;
line-height: 40px;
letter-spacing: 40px;
}

.abu8{
color:teal ;
background-color: rgb(105, 248, 255)
font-size:40px ;
opacity:0.8 ;
text-transform: caption ;
text-decoration: overline ;
text-align:left ;
font-weight:900 ;
font-family: initial;
line-height:45px ;
letter-spacing:45px; 
}

.abu9{
color:rgb(105, 248, 255) ;
background-color: rgb(255, 0, 128)
font-size:45px ;
opacity:0.9 ;
text-transform: lowercase ;
text-decoration: line-through ;
text-align:center ;
font-weight:100 ;
font-family: initial;
line-height: 50px;
letter-spacing:50px ;
}

.abu10{
color:teal ;
background-color: hotpink
font-size:50px ;
opacity:1 ;
text-transform:none ;
text-decoration: overline ;
text-align:left ;
font-weight:200 ;
font-family: initial;
line-height:55px ;
letter-spacing: 55px;















}



























































































